<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${data.title}"></h1>
    <h4>작성자 : <a th:text="${data.user_id}"></a></h4>
    <p>작성시간 : <a th:text="${data.created_at}"></a></p>
    <br>
    <p th:text="${data.content}"></p>
    <a th:href="@{'/board' + '/post/'+ ${data.post_id} + '/edit'}">게시글 수정</a>
    

</body>
</html>