<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>게시글 작성</h1>
<form action="/board/write-form" method="POST">
    <input name="user_id" placeholder="User_id">
    <input name="title" placeholder="제목">
    <input name="content" placeholder="내용">
    <button type="submit">전송</button>
</form>
</body>
</html>